{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
    ],
    plugins: [
      "@babel/plugin-proposal-class-properties",
      "@babel/plugin-proposal-object-rest-spread",
      "@babel/plugin-syntax-dynamic-import",
      ["module-resolver", {
        "ROOT": "./src/server",
        "alias": {
          "SERVER": "./src/server",
          "UTILS": "./src/utils",
          "DIST": "./dist"
        }
      }]
    ]
}
