<!DOCTYPE html>
<html>
    <head>
        <title><%= htmlWebpackPlugin.options.title %></title>
        <link rel='shortcut icon' type='image/png' href='/images/favicon.png' />
        <style>
            @import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500);

            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                font-family: Roboto, sans-serif, Arial;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }

            a {
                text-decoration: none;
            }
        </style>
    </head>
    <body>
        <div id='root'></div>
        <script src="/babel.polyfill.min.js"></script>
    </body>
</html>
